:root {
    --gris: #D6E7EE;
    --azul-marino: #151E3D;
    --azul: #2B34E0;
    --degradado: linear-gradient(180deg, #2B34E0 26.22%, #20298E 49.54%, #151E3D 81.31%);
    --amarillo: #FFC328;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins ExtraBold';
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

/* body {
    font-family: Poppins;
    font-style: normal;
}
 */
nav {
    height: 78px;
    background-color: #151E3D;
    font-size: 15px;
}

li.nav-item > a {
    line-height: 12px;
    color: #D6E7EE !important;
    font-weight: 400;
}

li.nav-item > a.btn {
    color: #151E3D !important;
    font-weight: 500;
}

li {
    line-height: 12px;
}

.navbar-toggler-icon {
    color: var(--gris);
}

.brand {
    margin: 0.6 75.25 98.54 12.6;
}

.btn {
    background-color: var(--amarillo);
    border-radius: 32px;
    color: #151E3D;
    font-weight: 500;
}

.main-section {
    position: absolute;
    width: 1515px;
    height: 791px;
    left: -22px;
    top: 75px;
    background: var(--degradado)
    /* linear-gradient(180deg, #2B34E0 36.28%, rgba(34, 43, 159, 0.6) 68.47%, rgba(25, 34, 89, 0.618071) 87.79%, rgba(21, 30, 61, 0.54) 97.15%); */
}

span.badge-schedule {
    background-color: #151E3D;
}

/* h6 > span.badge {
    background-color: #151E3D;
} */

.row-3 {
    position: absolute;
    left: 274px;
    top:402px;
    width: 879px;
    height: 464px;
    background-image: url('../images/hand.png');
}

.description {
    position: absolute;
    width: 633px;
    height: 139px;
    left: 184px;
    top:287px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 48px;
    color: #D6E7EE;
}

.subtitle {
    position: absolute;
    width: 589px;
    height: 35px;
    left: 186px;
    top:450px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #D6E7EE;
}

.text-info {
    position: absolute;
    width: 95px;
    height: 48px;
    left: 254px;
    top:511px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;

    color: #D6E7EE !important;
}

.text-promo {
    position: absolute;
    width: 95px;
    height: 23px;
    left: 431px;
    top: 527.21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    
    color: #D6E7EE;
}

.img-certified {
    position: absolute;
    width: 58.21px;
    height: 58.21px;
    left: 184px;
    top: 509px;
}

.img-promo {
    position: absolute;
    width: 58.21px;
    height: 58.21px;
    left: 361px;
    top: 509px;
}

.space-img-hand {
    position: absolute;
    margin: 0 200px;
    bottom: 0px;
}

/* .img-hand {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 879px;
    height: 464px;
    left: 274px;
    bottom: 0px;
} */

/* .img-fluid {
    position: absolute;
    margin: 0 200px;
    bottom: 0px;
    max-width: 100%;
    height: auto;
} */

.row-bankssection {
    display: flex;
    justify-content: space-between;
}

.text-bank {
    width: 144px;
    height: 23px;
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: var(--azul-marino);
}

.change-type-form {
    position: absolute;
    width: 331px;
    height: 268px;
    left: 910px;
    top: 287px;
}

.buy-cell {
    position: absolute;
    width: 313px;
    height: 23px;
    left: 921px;
    top: 287px;
}

.cell-text {
    position: absolute;
    width: 143px;
    height: 23px;
    left: 1091px;
    top: 287px;
}

.main-section .c {
    /* position: absolute;
    width: 1515px; */
    height: 791px;
    left: -22px;
    top: 75px;
    background: var(--degradado);
}

.business-hours-text {

}

/************/
.init-section {
    position: relative;
    background: var(--degradado);
}

.init-section > .container {
    height: 791px;
}

.btn-navbar {
    padding: 8px 20px;
}

.card-marketing > ul > .li-card-one {
    font-family: 'Poppins ExtraBold';
    line-height: 48.5px;
    font-weight: 800;
    font-size: 45px;
    color: #D6E7EE;
    background: none;
    border: none;
    padding-left: 0px;
}

.card-marketing > ul > .li-card-one span{
    line-height: 48.5px;
    font-weight: 800;
    font-size: 45px;
    color: var(--amarillo);
    background: none;
    border: none;
}

.card-marketing > ul > .li-card-two {
    font-family: 'Poppins Regular';
    color: var(--gris);
    background: none;
    border: none;
    padding-left: 0px;
}

.card-marketing > ul > .li-card-three {
    color: #D6E7EE;
    background: none;
    border: none;
}

.card {
    background: none;
    border: none;
}

.promo, .certified {
    position: relative;
    z-index: 1;
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;
}

.row-operationform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-operationform span {
    font-weight: 'Poppins Mixed';
    font-size: 15px;
    font-weight: 500;
}

.btn-operation {
    font-weight: bold;
    font-size: 16px;
    color: var(--azul-marino);
    background-color: var(--amarillo);
}

.card-operation {
    position: relative;
    z-index: 1;
}

.card-operation > ul > .li-card-one {
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    color: #D6E7EE;
    background: none;
    border: none;
    padding-right: 0px;
}

.card-operation > ul > .li-card-two {
    background: none;
    border: none;
    padding-right: 0px;
}

.card-operation > ul > .li-card-three {
    background: none;
    border: none;
    padding-right: 0px;
}

.row-li-card-three {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#send, #received {
    height: 79.7px;
    border-radius: 39.8501px;
    padding-left: 100px;
}

.arrow {
    position: absolute;
    width: 9.32px;
    height: 9.35px;
    border-radius: 100%;
    top: 7px;
    left: 7px;
    z-index: 9;
}

/* .inner-arrow-circle {
    position: absolute;
    background: #000;
    width: 9.32px;
    height: 9.35px;
    border-radius: 100%;
    z-index: 9;
} */

.white-circle {
    position: absolute;
    background: #D6E7EE;
    width: 23.41px;
    height: 23.41px;
    border-radius: 100%;
    top: 7px;
    left: 7px;
    z-index: 8;
}

.blue-circle {
    position: absolute;
    background: #2B34E0;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    top: 80px;
    left: 40px;
    z-index: 7;
}

.input-group {
    position: relative;
    z-index: 6;
}

.input-group-text 
{
    background-color: #151E3D;
    border: 4px solid rgba(21, 30, 61, 0.46);
    height: 79.7px;
    width: 80px;
    position: absolute;
    z-index: 99999;
    border-radius: 100%;
    color: #D6E7EE;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
}

.howtofunction{
    position: relative;
    z-index: 9;
    background-color: #151E3D;
}

.row-howtofunction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title-howtofunction h2 {
    font-family: 'Roboto';
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    color: #D6E7EE;
    line-height: 17px;
}

.title-howtofunction h3 {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    color: #D6E7EE;
    line-height: 17px;
}

.row-btn-register-howtofunction {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-register, .img-transfer, .img-done {
    background: linear-gradient(166.93deg, #2B34E0 33.08%, #151E3D 95.14%);
    border-radius: 42% 42%;
}

.card-title {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    color: var(--gris);
}

.card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #D6E7EE;
    text-align: justify;
}

.btn-register {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 24px;
    background: #FFC328;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    flex-direction: row;
    justify-content: center;
    padding: 8px 10px 8px 16px;
    border-radius: 100px;
    color: #151E3D !important;

    flex: none;
}


.bot {
    /* position: absolute;
    width: 77px;
    height: 87px;
    left: 1270px;
    top: 1423px; */
}

.videosection-row {
    position: relative;
}

/* .videosection-row:nth-child(2) {
    position: relative;
    z-index: 9;
} */

.text-videosection {
    position: relative;
    z-index: 9;
}

.img-circle {
    position: absolute;
    z-index: 1;
    left: 48.56%;
    right: 36.12%;
    top: 50.45%;
    bottom: -16.33%;
}

.video-screen {
    position: relative;
    z-index: 2;
}

.point-right {
    position: absolute;
    z-index: 3;
    right: 5.12%;
    top: 32.45%;
    bottom: -16.33%;
}

.img-play {
    position: absolute;
    right: 30.12%;
    top: 32.45%;
    bottom: -16.33%;
}

.videosection {
    position: relative;
    font-family: 'Poppins ExtraBold';
    height: 245px;
    background: #2B34E0;
}

.text-videosection-title {
    color: var(--gris);
    font-family: 'Poppins ExtraBold';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
}

.text-videosection-title span {
    color: var(--amarillo);
}

.text-videosection-subtitle {
    color: var(--gris);
    font-family: 'Poppins Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
}


.vector-1 {
    position: absolute;
    z-index: 2;
    top: -220px;
}

.points-vector {
    position: relative;
    z-index: 2;
    top: -220px;
    opacity: 0.1;
    left: 0px;
}

h2 {
    color: #D6E7EE;
    font-weight: 800;
    font-size: 40px;
    line-height: 42px;
    display: flex;
    align-items: center;
}

h3 {
    color: #D6E7EE;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}



.whychoose {
    position: relative;
    z-index: 9;
    background: #151E3D;
}

.whychoose-title {
    font-style: normal;
    font-family: 'Roboto';
    width: 382px;
    height: 48px;
    color: #D6E7EE;
    font-weight: 900;
    font-size: 35px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
}

.whychoose > .container > .row > .col-md-4 > h3 {
    color: #D6E7EE;
    font-weight: 900;
    font-size: 35px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
}

.card-img {
    width: 274px;
    border-radius: 130px 130px 0px 0px;
    background:#D6E7EE;
    height: 281px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    /* transform: matrix(-1, 0, 0, -1, 0, 0); */
}

.card-img-left, .card-img-center, .card-img-right {
    border-radius: 130px 130px 0 0;
}

.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 274px;

}

.card-img-center {
    background: rgba(214, 231, 238, 1);
}

.whychoose .card-body {
    background: rgba(43, 52, 224, 1);
}

.whychoose .card {
    margin-top: 30px;
}

.whychoose .number-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    border-radius: 60px;
    width: 70px;
    height: 70px;
    background: #2B34E0;
    border: 12px solid #151E3D;
    left: 100px;
    top: -35px;
    color: #D6E7EE;
    font-weight: bold;
    font-size: 29px;
    line-height: 14px;
}

.whychoose .row-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alertsection {
    background: rgba(214, 231, 238, 1);
}

.alertsection-container {
    position: relative;
    height: 263px;
}

.alertsection-title {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 37px;
    color: var(--azul-marino);
}

.alertsection-title span {
    color: var(--azul);
}


.alertsection-img {
    position: absolute;
    width: 641px;
    height: 427px;
    left: 594.57px;
    top: -30px;
    transform: rotate(-2.51deg);
}

.btn-alert {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--amarillo);
    color: var(--azul-marino);
}

.opinionsection {
    position: relative;
    z-index: 2;
    background: #151E3D;
    height: 400px;
    width: 100%;/* 
    border-radius: 0 0 70% 70%; */
}

.opinionsection::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -240px;
    width: 100%;
    height: 500px;
    background: var(--azul-marino);
    border-radius: 0 0 47% 47%;
}

.opinion-scroll {
    width: auto;
    margin-left: 350px;
    margin-right: 350px;
    height: 350px;
    overflow-y: scroll;
    
}

.opinion-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.opinion-scroll::-webkit-scrollbar:vertical {
    width: 10px;
}

.opinion-scroll::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}

.opinion-scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}

.opinion-scroll::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.opinion-scroll::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* .opinionsection::after {
    color: #D6E7EE;
    background: #151E3D;
    content: 'HOLAAAAAAAAAAAA';
    background-color: red;
    border-radius: 70% 70% 0 0; 
} */

/* .arc {
    position: relative;
    z-index: 2;
    top: 0px;
    background-color: var(--azul-marino);
    height: 231px;
    width: 100%;
    border-radius: 0 0 70% 70%;
} */
/* 
.opinionsection:after {
    width: 140%;
    position: absolute;
    border-radius: 0 0 50% 50%;
    background: #151E3D;
    z-index: 99;
    height: 500px;
    top: 0;
    left: -20%;
    z-index: 9;
    content: '';
} */

.container-opinion {
    position: relative;
    z-index: 2;
}

.opinion-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.opinionsection-title {
    width: 391px;
    font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--gris);
}

.opinion-card {
    /* width: 528px; */
    background: rgba(43, 52, 224, 1);
    border: 2px solid #2B34E0;
    box-sizing: border-box;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 2px 15px;
    margin: 1px 10px;
}

.subject-opinion {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: var(--azul-marino);
    padding-left: 10px;
}

.time-opinion {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: var(--azul-marino);
    padding-left: 10px;
}

.text-opinion {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--gris);
    padding-left: 10px;
}

.social-photo-opinion {
    position: relative;
    top: 20px;
    left: 60px;
}

.hand-left-opinion {
    position: absolute;
    z-index: 3;
    left: 0px;
    top: 5.43%;
}

.hand-right-opinion {
    position: absolute;
    z-index: 3;
    right: 0px;
    top: 5.43%;
}

.footer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    background: #D6E7EE;
    /* height: 380px; */
    height: 562px;
    border-radius: -50% -50% 0 0;
}

.footer hr {
    margin-top: 0px;
}
.container-footer {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; */
}

.footer-section-title {
    font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 9px;
    color: var(--azul-marino);
}

.footer-section-text {

}

.col-books-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.col-social-media-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-img-footer-1 {
    position: absolute;
    right: 37px;
    bottom: 35px;
}

.book-img-footer-2 {
    position: absolute;
    right: 145px;
    bottom: 35px;
}

.book-text-footer-1 {
    text-transform: uppercase;
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    text-align: center;

    position: absolute;
    width: 113px;
    height: 18px;
    right: 115px;
    bottom: 10px;
}

.book-text-footer-2 {
    text-transform: uppercase;
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    text-align: center;

    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 113px;
    height: 18px;
}

.contentus {
    background: var(--degradado);
    position: relative;
    z-index: 3;
}

.contentus::after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: -240px;
    width: 100%;
    height: 500px;
    background: var(--degradado);
    border-radius: 0 0 47% 47%;
}

.title-contentus {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 37px;
    color: var(--gris);
}

.text-contentus {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: var(--gris);
}

.button-section-contentus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background: var(--degradado);
}

.title-content {
    color: var(--gris);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 54px;
}

.subtitle-content {
    color: var(--gris);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
}

.background-azul-marino {
    background: var(--azul-marino);
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}

.background-blue {
    background: var(--azul);
}

.pre-dolar-img {
    max-width: 360px;
    max-height: 160px;
}

.title-row-content {
    color: var(--amarillo);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 11px;
}

.row-content-btn {
    display: flex;
    justify-content: center;
}

.col-content-btn {
    display: flex;
    justify-content: center;
}

.title-content {
    font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 54px;
}

.title-content span, .subtitle-content span {
    color: var(--azul-marino);
}

.subtitle-content {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
}

.title-row-content {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 11px;
    color: var(--amarillo);
}

.faq {
    position: relative;
    z-index: 2;
    background: var(--degradado);
}

.faq-title {
    font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 54px;
    color: var(--gris);
}

.faq-description {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    color: var(--gris);
}

.faq-row {
    position: relative;
}

.faq-img {
    position: absolute;
    top: -200px;
    left: 510px;/* 
    max-width: 720px;
    max-height: 538px; */
}

.faq-questions {
    
}

.faq-question {
    position: relative;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    color: #FFFFFF;
    padding: 13px 13px 13px 70px;
    border-radius: 32.5px 0px 0px 32.5px;
    margin-bottom: 13px;

    background: var(--azul-marino);
}

.faq-register-btn-row{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.faq-register-btn-row {

}

.btn-arrow-left {
    position: absolute;
    z-index: 2;
    width: 65px;
    height: 65px;
    /* left: 185px;
    top: 540px; */

    background: #2B34E0;
    border: 6px solid rgba(21, 30, 61, 0.34);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    border-radius: 100px 100px 100px 100px;
}

.arrow-btn-container {
    position: absolute;
    left: -4px;
    top: -3px;

}

#navbarSupportedContent {
    flex-direction: row-reverse;
}

.mobilemenu {
    margin-left: 0px;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    height: 600px;
    width: 300px;
    background: linear-gradient(270deg, #2B34E0 -30.5%, #222B9F -0.03%, #1E2782 15.57%, #1C2573 23.27%, #1B2468 40.43%, #192259 60.59%, #151E3D 100%);
    border: 34px solid rgba(21, 30, 61, 0.3);
    border-radius: 320px 0px 0px 320px;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.mobilemenu .row {
    color: var(--gris);
    list-style: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.text-menu {
    font-family: 'Poppins Medium';
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    color: var(--gris);
}

/* .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */

/* .row-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
/* .son {
    position: absolute;
} */

/* .son::after {
    content: 'Libro de reclamaciones';
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 3px;
    color: #151E3D;
} */

/* .footer::before {
    background: #D6E7EE;
    border-radius: 70% 70% 0 0;
    content: 'DSAFDSFDF';
    height: 200px;
} */

@media (max-width: 720px) {
    .badge-schedule, .card-marketing .li-card-two, .card-marketing .li-card-three, .videosection, .whychoose, .alertsection, .opinionsection, .col-social-media-icons {
        display: none;
    }
    /* .badge-schedule, .card-marketing .li-card-two, .card-marketing .li-card-three, .col-social-media-icons {
        display: none;
    } */

    .img-hand {
        position: relative;
        right: 50%;
        left: initial;
    }

    .space-img-hand {
        position: initial;
        margin: initial;
        bottom: initial;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .footer {
        height: auto;
    }

    .btn-register {
        height: 20px;
        font-family: 'Poppins Medium';
        font-style: normal;
        font-weight: 500 !important;
        font-size: 10px;
        line-height: 40px;
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.01em;
    
        background: #FFC328;
    
        /* flex-direction: row;
        justify-content: center;
        padding: 8px 10px 8px 16px;
        border-radius: 100px; */
        color: var(--azul-marino);
    }

    .text-menu {
        display: flex;
        justify-content: center;
    }

    .init-section > .container {
        height: auto;
    }
    
    .row-bankssection {
        justify-content: space-around;
    }

    .card-marketing > ul > .li-card-one {
        padding: 12px 20px;
    }
}